SUPABASE_URL=https://wpynyucbwlukoovmpddm.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndweW55dWNid2x1a29vdm1wZGRtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI1NzU1MzIsImV4cCI6MjA2ODE1MTUzMn0.jqQGAOEZQxL3ZGOKLI8voPQMB-N52Xwh1R_eylkbhGA